<div class="page page-dashboard">

  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.dashboard">{{page.title}}</a>
        </li>
      </ul>

      <div ng-controller="DaterangepickerCtrl" class="page-toolbar">
        <a href="javascript:;" class="btn btn-lightred no-border" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
          <i class="fa fa-calendar"></i>&nbsp;&nbsp;<span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
        </a>
      </div>

    </div>

  </div>

  <!-- cards row -->
  <div class="row">

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-users fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">3,000</p>
              <span>Sunday Service</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-greensea">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-heart fa-2x"></i>South</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-plus-square fa-2x"></i>Central</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-heartbeat fa-2x"></i>North</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-thumbs-o-up fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">1,964</p>
              <span>Life Group</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-lightred">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-heart fa-2x"></i>South</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-plus-square fa-2x"></i>Central</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-heartbeat fa-2x"></i>North</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-arrow-up fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">1,684</p>
              <span>Grow Sunday</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-blue">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-heart fa-2x"></i>South</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-plus-square fa-2x"></i>Central</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-heartbeat fa-2x"></i>North</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

    <!-- col -->
    <div class="card-container col-lg-3 col-sm-6 col-sm-12">
      <div class="card">
        <div class="front bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <i class="fa fa-heartbeat fa-4x"></i>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-8">
              <p class="text-elg text-strong mb-0">2,651</p>
              <span>Prayer Meeting</span>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <div class="back bg-slategray">

          <!-- row -->
          <div class="row">
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-heart fa-2x"></i>South</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-plus-square fa-2x"></i>Central</a>
            </div>
            <!-- /col -->
            <!-- col -->
            <div class="col-xs-4">
              <a href=javascript:;><i class="fa fa-heartbeat fa-2x"></i>North</a>
            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
      </div>
    </div>
    <!-- /col -->

  </div>
  <!-- /row -->


  <!-- row -->
  <div class="row">



    <!-- col -->
    <div class="col-md-8">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen01">

        <!-- tile header -->
        <div class="tile-header bg-greensea dvd dvd-btm">
          <h1 class="custom-font"><strong>Attendance </strong>Statistics</h1>
          <ul class="controls">
            <li ng-controller="DaterangepickerCtrl">
              <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                <span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
              </a>
            </li>
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
                <li>
                  <a href tile-control-lightbox>
                    <fa name="magnet"></fa> Open in Lightbox
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget bg-greensea" ng-controller="StatisticsChartCtrl">

          <flot dataset="dataset" options="options" height="250px"></flot>

        </div>
        <!-- /tile widget -->

        <!-- tile body -->
        <div class="tile-body" ng-controller="ActualStatisticsCtrl">

          <!-- row -->
          <div class="row">

            <!-- col -->
            <div class="col-md-4 col-sm-12">

              <h4 class="underline custom-font">Destiny <strong>South</strong></h4>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Sunday Service</div>
                  <div class="description">BF Homes, Paranaque</div>
                </div>
                <div class="status pull-right">
                  <span>40</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="40" type="dutch"><b>40</b></uib-progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Life Group</div>
                  <div class="description"></div>
                </div>
                <div class="status pull-right">
                  <span>38</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="38" type="greensea"><b>38</b></uib-progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Prayer Meeting</div>
                  <div class="description">BF Homes, Paranaque</div>
                </div>
                <div class="status pull-right">
                  <span>12</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="12" type="lightred"><b>12</b></uib-progressbar>
              </div>

            </div>
            <!-- /col -->

            <!-- col -->
            <div class="col-md-4 col-sm-12">

              <h4 class="underline custom-font">Destiny <strong>Central</strong></h4>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Sunday Service</div>
                  <div class="description">Robinsons Galleria</div>
                </div>
                <div class="status pull-right">
                  <span>40</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="40" type="dutch"><b>40</b></uib-progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Life Group</div>
                  <div class="description"></div>
                </div>
                <div class="status pull-right">
                  <span>38</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="38" type="greensea"><b>38</b></uib-progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Grow Sunday</div>
                  <div class="description">Robinsons Galleria</div>
                </div>
                <div class="status pull-right">
                  <span>12</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="12" type="lightred"><b>12</b></uib-progressbar>
              </div>

            </div>
            <!-- /col -->

            <!-- col -->
            <div class="col-md-4 col-sm-12">

              <h4 class="underline custom-font">Destiny <strong>North</strong></h4>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Sunday Service</div>
                  <div class="description">UP Film Institute</div>
                </div>
                <div class="status pull-right">
                  <span>40</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="40" type="dutch"><b>40</b></uib-progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Life Group</div>
                  <div class="description"></div>
                </div>
                <div class="status pull-right">
                  <span>38</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="38" type="greensea"><b>38</b></uib-progressbar>
              </div>

              <div class="progress-list">
                <div class="details">
                  <div class="title">Prayer Meeting</div>
                  <div class="description">Carillon Tower, UP Diliman</div>
                </div>
                <div class="status pull-right">
                  <span>12</span>
                </div>
                <div class="clearfix"></div>
                <uib-progressbar class="progress-s not-rounded" value="12" type="lightred"><b>12</b></uib-progressbar>
              </div>

            </div>
            <!-- /col -->
          </div>
          <!-- /row -->

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->

    </div>
    <!-- /col -->



    <!-- col -->
    <div class="col-md-4">

      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen02" ng-controller="BrowseUsageCtrl">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Profile </strong>Percentage</h1>
          <ul class="controls">
            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen02 = !isFullscreen02">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
                <li>
                  <a href tile-control-lightbox>
                    <fa name="magnet"></fa> Open in Lightbox
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile widget -->
        <div class="tile-widget">
          <div morris-donut-chart donut-data='donutData' style="height: 250px"></div>
        </div>
        <!-- /tile widget -->


      </section>
      <!-- /tile -->
<!-- tile -->
        <section class="tile" fullscreen="isFullscreen13">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Reporting</strong> Percentage</h1>
            <ul class="controls">
              <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

                <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                  <li>
                    <a href tile-control-toggle>
                      <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                      <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                    </a>
                  </li>
                  <li>
                    <a href tile-control-refresh ng-click="ajaxFaker()">
                      <fa name="refresh"></fa> Refresh
                    </a>
                  </li>
                  <li>
                    <a href tile-control-fullscreen ng-click="isFullscreen13 = !isFullscreen13">
                      <fa name="expand"></fa> Fullscreen
                    </a>
                  </li>
                  <li>
                    <a href tile-control-lightbox>
                      <fa name="magnet"></fa> Open in Lightbox
                    </a>
                  </li>

                </ul>

              </li>
              <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
            </ul>
          </div>
          <!-- /tile header -->

          
        <!-- tile body -->
        <div class="tile-body" ng-controller="ActualStatisticsCtrl">

          <!-- row -->
          <div class="row">

            <!-- col -->
            <div class="col-md-12 col-sm-12">

              <!-- <h4 class="underline custom-font mb-20"><strong>Reporting</strong> Percentage</h4> -->

                 <!-- col -->
                <div class="col-lg-12 text-center">
                  <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart" style="width: 140px; height: 140px;">
                    <i class="fa fa-user fa-4x text-greensea" style="line-height: 140px;"></i>
                    <p class="text-uppercase text-elg mt-20 mb-0"><strong class="text-greensea">632</strong> <small class="text-lg text-light text-default lt">Leaders</small></p>
                    <p class="text-light"><i class="fa fa-caret-down text-danger"></i> 61% of total</p>
                  </div>
                </div>
                <!-- /col -->
              </div>
              <!-- /row -->

        </section>
        <!-- /tile -->
      
    </div>
    <!-- /col -->


  </div>
  <!-- /row -->

    <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <section class="tile" fullscreen="isFullscreen06">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>Leaders </strong>Reporting</h1>
          <ul class="controls">
            <li ng-controller="DaterangepickerCtrl">
              <a href="javascript:;" daterangepicker="rangeOptions" date-begin="startDate" date-end="endDate">
                <span>{{startDate}} - {{endDate}}</span>&nbsp;&nbsp;<i class="fa fa-angle-down"></i>
              </a>
            </li>

            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">

              <a href uib-dropdown-toggle class="dropdown-toggle settings"><i class="fa fa-cog"></i></a>

              <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                <li>
                  <a href tile-control-toggle>
                    <span class="minimize"><fa name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span>
                    <span class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
                  </a>
                </li>
                <li>
                  <a href tile-control-refresh ng-click="ajaxFaker()">
                    <fa name="refresh"></fa> Refresh
                  </a>
                </li>
                <li>
                  <a href tile-control-fullscreen ng-click="isFullscreen06 = !isFullscreen06">
                    <fa name="expand"></fa> Fullscreen
                  </a>
                </li>
                <li>
                  <a href tile-control-lightbox>
                    <fa name="magnet"></fa> Open in Lightbox
                  </a>
                </li>

              </ul>

            </li>
            <li class="remove"><a href tile-control-close><i class="fa fa-times"></i></a></li>
          </ul>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body table-custom" ng-controller="ProjectProgressCtrl">

          <div class="table-responsive">
            <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-custom">
              <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Leader Name</th>
                <th>Primary Leader</th>
                <th style="width: 150px;" class="text-right">Attendance Trend</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="project in projects">
                <td>{{ $index+1 }}</td>
                <td>{{ project.title }}</td>
                <td><small ng-class="{'text-danger': project.priority.value == 1, 'text-warning': project.priority.value == 2, 'text-success': project.priority.value == 3}">{{ project.priority.title }}</small></td>
                <td><uib-progressbar class="progress-xxs not-rounded mb-0 inline-block" value="project.status" type="greensea" style="width: 150px; margin-right: 5px"></uib-progressbar><small>{{project.status}}%</small></td>
                <td class="text-right"><span sparkline data="project.chart.data" options="{
                  type: 'bar',
                  barColor: project.chart.color,
                  barWidth: '8px',
                  height: '28px'
                }"></span></td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <!-- /tile body -->

      </section>
      <!-- /tile -->
    </div>
    <!-- /col -->
</div>